
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 173.1rem;
}.bill-customization-Jvc {
  width: 100%;
  height: 97.8rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.bill-customization-Jvc .auto-group-ybkw-SvL {
  width: 180.2079rem;
  height: 200.5rem;
  position: absolute;
  left: 0;
  top: 0;
}
.bill-customization-Jvc .auto-group-ybkw-SvL .ellipse-3-oXv {
  width: 169.8rem;
  height: 99.6rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.bill-customization-Jvc .auto-group-ybkw-SvL .black-minimal-cake-logo-1-72p {
  width: 23rem;
  height: 16.6rem;
  position: absolute;
  left: 0;
  top: 1.6rem;
  object-fit: cover;
  vertical-align: top;
}
.bill-customization-Jvc .auto-group-ybkw-SvL .air-jordan-1-taxi-555088-711-release-date-2-1dz {
  width: 179.9866rem;
  height: 200.5rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.bill-customization-Jvc .auto-group-ybkw-SvL .bill-LRN {
  width: 12rem;
  height: 10.7rem;
  position: absolute;
  left: 79.9rem;
  top: 3.3rem;
  font-size: 8.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #181313;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bill-customization-Jvc .auto-group-ybkw-SvL .rectangle-2-noA {
  width: 19.5rem;
  height: 6.9rem;
  position: absolute;
  left: 82rem;
  top: 79.1rem;
  box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.5699999928);
  background-color: #000000;
  border-radius: 2.9rem;
}
.bill-customization-Jvc .auto-group-ybkw-SvL .place-order-pjr {
  width: 17rem;
  height: 5.4rem;
  position: absolute;
  left: 83.7rem;
  top: 79.8rem;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.2125;
  letter-spacing: 0.19rem;
  background-color: #00000008;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bill-customization-Jvc .vector-qex {
  width: 2.7428rem;
  height: 2.6936rem;
  position: absolute;
  left: 166.3954rem;
  top: 5.5945rem;
  object-fit: contain;
  vertical-align: top;
}
.bill-customization-Jvc .vector-9fe {
  width: 3.2507rem;
  height: 3.4189rem;
  position: absolute;
  left: 159.9956rem;
  top: 5.2837rem;
  object-fit: contain;
  vertical-align: top;
}
.bill-customization-Jvc .bxs-cart-656 {
  width: 3.5001rem;
  height: 2.775rem;
  position: absolute;
  left: 152.75rem;
  top: 5.0625rem;
  object-fit: contain;
  vertical-align: top;
}
.bill-customization-Jvc .home-zgG {
  width: 6.1rem;
  height: 2.5rem;
  position: absolute;
  left: 142rem;
  top: 5.25rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bill-customization-Jvc .layers--tWk {
  width: 36.8rem;
  height: 2.4rem;
  position: absolute;
  left: 27.6rem;
  top: 26.8rem;
  font-size: 1.9rem;
  font-weight: 800;
  line-height: 1.2125;
  letter-spacing: 0.38rem;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bill-customization-Jvc .weightin-kg--nc8 {
  width: 36.7rem;
  height: 2.4rem;
  position: absolute;
  left: 27.6rem;
  top: 36.7rem;
  font-size: 1.9rem;
  font-weight: 800;
  line-height: 1.2125;
  letter-spacing: 0.38rem;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bill-customization-Jvc .shape--672 {
  width: 36.3rem;
  height: 2.4rem;
  position: absolute;
  left: 27.6rem;
  top: 47.7rem;
  font-size: 1.9rem;
  font-weight: 800;
  line-height: 1.2125;
  letter-spacing: 0.38rem;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bill-customization-Jvc .flavour--kSU {
  width: 36.3rem;
  height: 2.4rem;
  position: absolute;
  left: 27.6rem;
  top: 58.7rem;
  font-size: 1.9rem;
  font-weight: 800;
  line-height: 1.2125;
  letter-spacing: 0.38rem;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bill-customization-Jvc .total--Dax {
  width: 36.8rem;
  height: 2.4rem;
  position: absolute;
  left: 27.6rem;
  top: 69.7rem;
  font-size: 1.9rem;
  font-weight: 800;
  line-height: 1.2125;
  letter-spacing: 0.38rem;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bill-customization-Jvc .christmas-pastry-wG4 {
  width: 22.5rem;
  height: 2.4rem;
  position: absolute;
  left: 82.5rem;
  top: 26.8rem;
  font-size: 1.9rem;
  font-weight: 800;
  line-height: 1.2125;
  letter-spacing: 0.38rem;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bill-customization-Jvc .christmas-pastry-pKr {
  width: 22.5rem;
  height: 2.4rem;
  position: absolute;
  left: 82rem;
  top: 36.7rem;
  font-size: 1.9rem;
  font-weight: 800;
  line-height: 1.2125;
  letter-spacing: 0.38rem;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bill-customization-Jvc .christmas-pastry-6oA {
  width: 22.5rem;
  height: 2.4rem;
  position: absolute;
  left: 82.5rem;
  top: 47.1rem;
  font-size: 1.9rem;
  font-weight: 800;
  line-height: 1.2125;
  letter-spacing: 0.38rem;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bill-customization-Jvc .christmas-pastry-pDN {
  width: 22.5rem;
  height: 2.4rem;
  position: absolute;
  left: 82.5rem;
  top: 58.7rem;
  font-size: 1.9rem;
  font-weight: 800;
  line-height: 1.2125;
  letter-spacing: 0.38rem;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.bill-customization-Jvc .christmas-pastry-7TN {
  width: 22.5rem;
  height: 2.4rem;
  position: absolute;
  left: 82.5rem;
  top: 69.7rem;
  font-size: 1.9rem;
  font-weight: 800;
  line-height: 1.2125;
  letter-spacing: 0.38rem;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
