
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 173.1rem;
}
element.style{
  position: relative;
    left: -51px;
    top: 170px;
}
 
.customization-HcL {
  width: 100%;
  height: 97.8rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}

.customization-HcL .auto-group-klec-udi {
  width: 180.2079rem;
  height: 200.5rem;
  position: absolute;
  left: 0;
  top: 0;
}
.customization-HcL .auto-group-klec-udi .ellipse-2-mZS {
  width: 57.3rem;
  height: 59.4rem;
  position: absolute;
  left: 26.3rem;
  top: 16rem;
  object-fit: contain;
  vertical-align: top;
}
.customization-HcL .auto-group-klec-udi .ellipse-3-fPv {
  width: 169.8rem;
  height: 99.6rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.customization-HcL .auto-group-klec-udi .rectangle-4-njS {
  width: 27.5rem;
  height: 12.1rem;
  position: absolute;
  left: 26.5rem;
  top: 28.4rem;
  box-shadow: 0 1.6rem 11.1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 3.8rem;
}
.customization-HcL .auto-group-klec-udi .rectangle-8-fHS {
  width: 59.4rem;
  height: 12.1rem;
  position: absolute;
  left: 28.5rem;
  top: 81rem;
  box-shadow: 0 1.6rem 11.1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 3.8rem;
}
.customization-HcL .auto-group-klec-udi .rectangle-7-mbN {
  width: 27.5rem;
  height: 12.1rem;
  position: absolute;
  left: 26.2rem;
  top: 52.85rem;
  box-shadow: 0 1.6rem 11.1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 3.8rem;
}
.customization-HcL .auto-group-klec-udi .black-minimal-cake-logo-1-BQC {
  width: 23rem;
  height: 16.6rem;
  position: absolute;
  left: 0;
  top: 1.6rem;
  object-fit: cover;
  vertical-align: top;
}
.customization-HcL .auto-group-klec-udi .air-jordan-1-taxi-555088-711-release-date-2-V9z {
  width: 179.9866rem;
  height: 200.5rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.customization-HcL .auto-group-klec-udi .shape-ogU {
  width: 11.1rem;
  height: 7.2rem;
  position: absolute;
  left: 105.9rem;
  top: 55.4rem;
  font-size: 5.5rem;
  font-weight: 400;
  line-height: 1.27;
  color: #785555;
  font-family: Inspiration, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.rect3{
  width: 27.5rem;
  height: 12.1rem;
  position: absolute;
  left: 108.2rem;
  top: 52.85rem;
  box-shadow: 0 1.6rem 11.1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 3.8rem;
}
.rect4{
  width: 27.5rem;
  height: 12.1rem;
  position: absolute;
  left: 108.2rem;
  top: 28.85rem;
  box-shadow: 0 1.6rem 11.1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 3.8rem;
}
.customization-HcL .auto-group-klec-udi .shape-ogU .shape-ogU-sub-1 {
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.5925;
  color: #785555;
  font-family: Kalam, 'Source Sans Pro';
  margin-left: -761px;
}
.customization-HcL .auto-group-klec-udi .layers-nRv {
  width: 12.2rem;
  height: 7.2rem;
  position: absolute;
  left: 29.9rem;
  top: 31rem;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.5925;
  color: #785555;
  font-family: Kalam, 'Source Sans Pro';
  white-space: nowrap;
}
.customization-HcL .auto-group-klec-udi .icon-chevron-down-5fv {
  width: 5.2778rem;
  height: 2.5rem;
  position: absolute;
  left: 128.8rem;
  top: 33.6rem;
  object-fit: contain;
  vertical-align: top;
}
.customization-HcL .auto-group-klec-udi .icon-chevron-down-zH6 {
  width: 5.2778rem;
  height: 2.5rem;
  position: absolute;
  left: 128.8rem;
  top: 33.6rem;
  object-fit: contain;
  vertical-align: top;
}
.customization-HcL .auto-group-klec-udi .icon-chevron-down-WmE {
  width: 5.2778rem;
  height: 2.5rem;
  position: absolute;
  left: 129.7rem;
  top: 58.5rem;
  object-fit: contain;
  vertical-align: top;
}
.ecY {
  width: 16.7rem;
  height: 2.2rem;
  position: absolute;
 left: -93.6rem;
    top: 51.8rem;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.customization-HcL .auto-group-klec-udi .customization-Yxp {
  width: 37.8rem;
  height: 10.2rem;
  position: absolute;
  left: 35.9rem;
  top: 3.9rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.5925;
  color: #b08383;
  font-family: Kalam, 'Source Sans Pro';
  white-space: nowrap;
}
.customization-HcL .vector-ryW {
  width: 2.7428rem;
  height: 2.6936rem;
  position: absolute;
  left: 166.3954rem;
  top: 5.5945rem;
  object-fit: contain;
  vertical-align: top;
}
.customization-HcL .vector-z48 {
  width: 3.2507rem;
  height: 3.4189rem;
  position: absolute;
  left: 159.9956rem;
  top: 5.2837rem;
  object-fit: contain;
  vertical-align: top;
}
.customization-HcL .bxs-cart-j1i {
  width: 3.5001rem;
  height: 2.775rem;
  position: absolute;
  left: 152.75rem;
  top: 5.0625rem;
  object-fit: contain;
  vertical-align: top;
}
.customization-HcL .home-G1e {
  width: 6.1rem;
  height: 2.5rem;
  position: absolute;
  left: 142rem;
  top: 5.25rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.customization-HcL .carbon-next-filled-M36 {
  opacity: 0.5;
  box-sizing: border-box;
  padding: 1.3125rem 1.3688rem;
  width: 6.3875rem;
  height: 6.125rem;
  position: absolute;
  left: 160.9563rem;
  top: 39.7375rem;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('vector.png');
}
.customization-HcL .carbon-next-filled-M36 .vector-2f2 {
  width: 3.65rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
}
.dropbtn {
  background-color: #04aa6d0a;
  color: #ffffff0d;
  padding: 16px;
  font-size: 16px;
  border: none;
  position: relative;
  left: 0rem;
  top: 0.25rem;
}
.cont{
  max-width: 350px;
  margin:auto;
  border-radius:5px;
  background: #96bb72;
  padding:20px;
  position: relative;
  z-index: 1;
}
.btn1{
  width: 123px;
  height: 44px;
  color: white;
  background: linear-gradient(0deg, #334866, #334866), #FFFFFF;
  border-radius: 10px;
  position: relative;
  top: 509px;
    left: -1222px;

}

.dropdown2{
  margin-bottom: 0.1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3225;
  color: #000000;
  font-family: Red Hat Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  margin: -10px;
  padding: 11px;
  position: relative;
  top: 558px;
  left: 1273px;
}
.dropdown3{
  margin-bottom: 0.1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3225;
  color: #000000;
  font-family: Red Hat Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  margin: -10px;
  padding: 11px;
  position: relative;
  top: -402px;
    left: 2107px;
}
.dropdown4{
  margin-bottom: 0.1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3225;
  color: #000000;
  font-family: Red Hat Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  margin: -10px;
  padding: 11px;
  position: relative;
  top: -671px;
    left: 2107px;
    max-height: 20px;
}
.f1{
  width: 12.2rem;
  height: 7.2rem;
  position: absolute;
  left: 110.9rem;
  top: 55rem;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.5925;
  color: #785555;
  font-family: Kalam, 'Source Sans Pro';
  white-space: nowrap;
}
.l1{
  width: 12.2rem;
  height: 7.2rem;
  position: absolute;
  left: 110.9rem;
  top: 31rem;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.5925;
  color: #785555;
  font-family: Kalam, 'Source Sans Pro';
  white-space: nowrap;
}
input[type=text],select{
  width: 82px;
  margin-bottom: 0.1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3225;
  color: #000000;
  font-family: Red Hat Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  margin: -16px;
    padding: 12px;
    position: relative;
    left: -834px;
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  position: relative;
  left: 129rem;
  top: 34.25rem;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  font-size: 22px;
  min-width: 228px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.tab 
	{
	float: left;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	width: 15%;
	height: 400px;
    position: relative;
    top: 255px;
    left: 231px;
	}

.tab button 
	{
	display: block;
	background-color: inherit;
	color: black;
	padding: 22px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	font-size: 17px;
	}

.tab button:hover 
	{
	background-color: #ddd;
	}

.tab button.active 
	{
	background-color: #ccc;
	}


.tabcontent 
	{
	float: left;
	padding: 30px 40px;
	border: none;
	width: 70%;
	border-left: none;
	height: 400px;
    top: 220px;
    position: relative;
    left: 205px;
    font-size: 26px;
	}


input[type="text"], input[type="password"]
	{
	display: block;
	box-sizing: border-box;
	border: none;
	border-bottom: 6px solid;
	background: #ffffff;
	padding: 5px;
	margin: 0px 0px 2px 0px;
	border: 1px solid #888888;		
	width: 50%;
    position: relative;
    left: 1px;
	}
	
p
	{
	margin: 10px 0px 3px 0px;
	font-size: 17px;
	font-weight: 17px strong;
	
	}
	
input[type="submit"], input[type="reset"]
		{
		background-color: #d9d9d9;
		color: black;
		padding: 10px 20px;
		margin: 15px 10px 20px 40px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		width: 15%;
		flex:strong;
		}	
	
	
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e4100;}