*{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
letter-spacing: 2px;
}
body{

    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 173.1rem;
}
element.style{
  position: relative;
    left: -51px;
    top: 170px;
}
 
.customization-HcL {
  width: 100%;
  height: 97.8rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}

.customization-HcL .auto-group-klec-udi {
  width: 180.2079rem;
  height: 200.5rem;
  position: absolute;
  left: 0;
  top: 0;
}
.customization-HcL .auto-group-klec-udi .ellipse-2-mZS {
  width: 57.3rem;
  height: 59.4rem;
  position: absolute;
  left: 26.3rem;
  top: 16rem;
  object-fit: contain;
  vertical-align: top;
}
.customization-HcL .auto-group-klec-udi .ellipse-3-fPv {
  width: 169.8rem;
  height: 99.6rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.customization-HcL .auto-group-klec-udi .rectangle-4-njS {
  width: 27.5rem;
  height: 12.1rem;
  position: absolute;
  left: 26.5rem;
  top: 28.4rem;
  box-shadow: 0 1.6rem 11.1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 3.8rem;
}
.customization-HcL .auto-group-klec-udi .rectangle-8-fHS {
  width: 59.4rem;
  height: 12.1rem;
  position: absolute;
  left: 28.5rem;
  top: 81rem;
  box-shadow: 0 1.6rem 11.1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 3.8rem;
}
.customization-HcL .auto-group-klec-udi .rectangle-7-mbN {
  width: 27.5rem;
  height: 12.1rem;
  position: absolute;
  left: 26.2rem;
  top: 52.85rem;
  box-shadow: 0 1.6rem 11.1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 3.8rem;
}
.customization-HcL .auto-group-klec-udi .black-minimal-cake-logo-1-BQC {
  width: 23rem;
  height: 16.6rem;
  position: absolute;
  left: 0;
  top: 1.6rem;
  object-fit: cover;
  vertical-align: top;
}
.customization-HcL .auto-group-klec-udi .air-jordan-1-taxi-555088-711-release-date-2-V9z {
  width: 179.9866rem;
  height: 200.5rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.customization-HcL .auto-group-klec-udi .shape-ogU {
  width: 11.1rem;
  height: 7.2rem;
  position: absolute;
  left: 105.9rem;
  top: 55.4rem;
  font-size: 5.5rem;
  font-weight: 400;
  line-height: 1.27;
  color: #785555;
  font-family: Inspiration, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.rect3{
  width: 27.5rem;
  height: 12.1rem;
  position: absolute;
  left: 108.2rem;
  top: 52.85rem;
  box-shadow: 0 1.6rem 11.1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 3.8rem;
}
.rect4{
  width: 27.5rem;
  height: 12.1rem;
  position: absolute;
  left: 108.2rem;
  top: 28.85rem;
  box-shadow: 0 1.6rem 11.1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 3.8rem;
}
.customization-HcL .auto-group-klec-udi .shape-ogU .shape-ogU-sub-1 {
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.5925;
  color: #785555;
  font-family: Kalam, 'Source Sans Pro';
  margin-left: -761px;
}
.customization-HcL .auto-group-klec-udi .layers-nRv {
  width: 12.2rem;
  height: 7.2rem;
  position: absolute;
  left: 29.9rem;
  top: 31rem;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.5925;
  color: #785555;
  font-family: Kalam, 'Source Sans Pro';
  white-space: nowrap;
}
.customization-HcL .auto-group-klec-udi .icon-chevron-down-5fv {
  width: 5.2778rem;
  height: 2.5rem;
  position: absolute;
  left: 128.8rem;
  top: 33.6rem;
  object-fit: contain;
  vertical-align: top;
}
.customization-HcL .auto-group-klec-udi .icon-chevron-down-zH6 {
  width: 5.2778rem;
  height: 2.5rem;
  position: absolute;
  left: 128.8rem;
  top: 33.6rem;
  object-fit: contain;
  vertical-align: top;
}
.customization-HcL .auto-group-klec-udi .icon-chevron-down-WmE {
  width: 5.2778rem;
  height: 2.5rem;
  position: absolute;
  left: 129.7rem;
  top: 58.5rem;
  object-fit: contain;
  vertical-align: top;
}
.ecY {
  width: 16.7rem;
  height: 2.2rem;
  position: absolute;
 left: -93.6rem;
    top: 51.8rem;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.customization-HcL .auto-group-klec-udi .customization-Yxp {
  width: 37.8rem;
  height: 10.2rem;
  position: absolute;
  left: 35.9rem;
  top: 3.9rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.5925;
  color: #b08383;
  font-family: Kalam, 'Source Sans Pro';
  white-space: nowrap;
}
.customization-HcL .vector-ryW {
  width: 2.7428rem;
  height: 2.6936rem;
  position: absolute;
  left: 166.3954rem;
  top: 5.5945rem;
  object-fit: contain;
  vertical-align: top;
}
.customization-HcL .vector-z48 {
  width: 3.2507rem;
  height: 3.4189rem;
  position: absolute;
  left: 159.9956rem;
  top: 5.2837rem;
  object-fit: contain;
  vertical-align: top;
}
.customization-HcL .bxs-cart-j1i {
  width: 3.5001rem;
  height: 2.775rem;
  position: absolute;
  left: 152.75rem;
  top: 5.0625rem;
  object-fit: contain;
  vertical-align: top;
}
.customization-HcL .home-G1e {
  width: 6.1rem;
  height: 2.5rem;
  position: absolute;
  left: 142rem;
  top: 5.25rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.customization-HcL .carbon-next-filled-M36 {
  opacity: 0.5;
  box-sizing: border-box;
  padding: 1.3125rem 1.3688rem;
  width: 6.3875rem;
  height: 6.125rem;
  position: absolute;
  left: 160.9563rem;
  top: 39.7375rem;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('vector.png');
}
.customization-HcL .carbon-next-filled-M36 .vector-2f2 {
  width: 3.65rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
}

.inputFile{
    display: none;
}
.fileText{
    margin-bottom: 10px;
    font-size: 20px;
    position: relative;
    left: 1004px;
    top: 283px;
}

label{
height: 100px;
width: 100px;
 
 cursor: pointer;
display: flex;
justify-content: center;
align-items: center; 
color: #222;
margin-bottom: 10px;
 font-size: 100px;
 background: linear-gradient(45deg, blue, red); 
 position: relative;
    left: 746px;
    top: 283px;
}
button
{
padding: 20px 25px;
background: cornflowerblue;
color: white;
border: none;
margin-bottom: 10px;
cursor: pointer;
font-size: 20px;
font-weight: 700;
position: relative;
        left: 570px;
    top: 283px;
}
.bar{
    height:50px;
    width:500px;
    background: #80808073;
    margin-bottom:10px;
    position: relative;
    left: 557px;
    top: 283px;

}

.customization-HcL .auto-group-klec-udi .ellipse-3-fPv {
    width: 169.8rem;
    height: 99.6rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
    vertical-align: top;
  }
  
.customization-HcL {
    width: 100%;
    height: 97.8rem;
    position: relative;
    overflow: hidden;
    top: 0px;

    background-color: #ffffff;
  }
  
.btn1{
    position: absolute;
  width: 123px;
  height: 44px;
  left: 1079px;
  color: white;
  top: 470px;
  background: linear-gradient(0deg, #334866, #334866), #FFFFFF;
  border-radius: 10px;
}

.customization-HcL .auto-group-klec-udi {
    width: 180.2079rem;
    height: 200.5rem;
    position: absolute;
    left: 0;
    top: 0;
  }
.customization-HcL .auto-group-klec-udi .black-minimal-cake-logo-1-BQC {
    width: 23rem;
    height: 16.6rem;
    position: absolute;
    left: 0;
    top: 1.6rem;
    object-fit: cover;
    vertical-align: top;
  }
.progress{

    background: linear-gradient(12deg,red,blue);
    height:100%;
    width:0%;
}
.uploadPercentage{
    font-size:25px;
    position: relative;
    left: 557px;
    top: 283px;
}
.img{
    height: 200px;
    width:auto;
    object-fit:contain;
    display:none;
    border:5px solid cornflowerblue;
    position: relative;
    left: 110px;
}
.imageUploaded{
    margin-top: 10px;
    position: relative;
    left: 557px;
    top: 283px;
}